<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Scheduler Creator</h1>
    <div class="row center">
      <h5 class="header col s12 light">Create your perfect, customized UBC Course Schedule!</h5>
    </div>
    <div class="row center">
      <a href="/accounts" class="btn-large waves-effect waves-light orange">Start Scheduling</a>
    </div>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Speeds Up Course Planning</h5>

          <p class="light">We handle the customizing of your course schedule to satisfy your needs, leaving you more time to choose the courses you really want to take.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi-action-done-all"></i></h2>
          <h5 class="center">Personalized Optimal Schedule</h5>

          <p class="light">Tell us your preferences; whether you like to sleep in on Tuesdays or perhaps really like to take a mid-afternoon break, and we'll work your schedule around all your needs.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">Easy To Use</h5>

          <p class="light">We've tried our best to make ScheduleCreator easy to work with and intuitive to use. Strong functionality and diverse features lie at your fingertips!</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

</div>