<div class="container">
  <h1>Listing courses</h1>

  <table class="striped">
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.title, course %></td>
            <td><a class="waves-effect blue waves-light btn take_course" id="<%= course.courseId  %>"><i class="material-icons right"></i>Add Course</a></tr>
        <% end %>
      </tbody>
    </table>

    <br>
</div>
