<%= form_for(@tutorial_section) do |f| %>
  <% if @tutorial_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorial_section.errors.count, "error") %> prohibited this tutorial_section from being saved:</h2>

      <ul>
      <% @tutorial_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
